{% extends 'dog/base.html' %}
{% load crispy_forms_tags %}
{%load static%}
{% block content %}

<div class="container-fluid">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <br>
                <br>
                <legend class="border-bottom p-2 ">Log In</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group " >
                <button class="btn btn-outline-danger mx-3 mb-2" type="submit">Login</button>

            </div>
            <small class="text-muted mb-1">
                    <a href=" {% url 'password_reset' %} ">Forgot Password?</a>
            </small>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Need An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
            </small>
        </div>
    </div>
{% endblock content %}
